1. path for finding the source file like .c
	vpath pattern directory-list
	e.g.
		vpath %.c src
	then when prerequisites %.c is not a target
	the program will find source file in the corresponding directory
2. check for implicit rules
	make --print-data-base
3. 
reference 《Managing Project with GNU Make》
